/* Navigation container styles */
.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* Navigation bar styles */
.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  max-width: 1260px;
  background-color: transparent;
}

/* Left section of the navigation bar */
.navLeft {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}

/* Middle section of the navigation bar */
.navMiddle {
  display: none;
}

/* Right section of the navigation bar */
.navRight {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/* Link styles */
.link {
  margin: 0 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

/* Home link styles */
.homeLink {
  font-size: 24px;
  font-weight: 500;
}

.homeLink:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Profile image styles */
.profileImage {
  margin-top: 6px;
  transition: all 0.15s ease-in-out;
}

.profileImage:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Button link styles */
.buttonLink:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .navLeft {
    flex-direction: column;
    align-items: flex-start;
  }

  .navMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    box-shadow: 0px 5px 5px -5px #333;
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .link {
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: #00bcd4;
  }

  .hamburger {
    display: block;
    color: #fff;
    cursor: pointer;
  }

  .hamburger:hover {
    color: #00bcd4;
  }
}
