/* Normal (Desktop) Görünümü */
.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    padding: 20px;
    top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    gap: 20px;
}

.containerRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}

.label {
    margin-bottom: 10px;
    font-size: 16px;
}

.input,
.input2 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 500px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.btn {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.fileUpload {
    border: 2px dashed #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileUploads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.selectedFile {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

/* Mobil (Tablet ve Altı) Görünümü */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .containerLeft,
    .containerRight {
        width: 100%;
    }
}
